section.canvas-main {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 4px;
    position: relative;
}

#layout-canvas {
    margin: 0;
}

#canvas-container {
    float: left;
    margin: 0;
}

#canvas-controls {
    position: absolute;
    width: 200px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    bottom: 0;
    top: 0;
}

.layout-controls {
    padding: 4px 8px;
}

.layout-controls label {
    display: block;
}

.layout-controls input {
    display: block;
    width: 150px;
}